{%- assign faqs = faqs_group.knowledgebase_faq.value -%}
<div class="faq-block flex-center flex-col w-100">
  {%- if title != blank -%}
    <h2 class="heading-h2 mb-1">{{ title }}</h2>
  {%- endif -%}
  <div class="faq-group-content w-100">
    {%- liquid
      for faq in faqs
        assign title = faq.question
        assign answer = faq.answer | metafield_tag
        if forloop.index == 1
          render 'accordion-item', faq: true, question: title, content: answer, rte: true, active: true, heading_color: heading_color
        else
          render 'accordion-item', faq: true, question: title, content: answer, rte: true, heading_color: heading_color
        endif
      endfor
    -%}
  </div>
</div>
