{%- liquid
  if block.settings.phone != blank
    assign phone = block.settings.phone
  else
    assign phone = shop.phone
  endif
-%}
{%- if phone != blank -%}
  <li class="flex align-center g-2" {{ block.shopify_attributes }}>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22" fill="none">
      <path d="M20.7358 16.2653V19.2653C20.7369 19.5438 20.6799 19.8195 20.5683 20.0747C20.4567 20.3298 20.2931 20.5589 20.0879 20.7472C19.8826 20.9355 19.6403 21.0788 19.3765 21.168C19.1127 21.2572 18.8331 21.2904 18.5558 21.2653C15.4787 20.9306 12.5229 19.8791 9.92577 18.1953C7.5096 16.66 5.46111 14.6115 3.92577 12.1953C2.23609 9.58635 1.18438 6.61622 0.855773 3.52531C0.830783 3.24878 0.863648 2.97007 0.952273 2.70694C1.0409 2.4438 1.18334 2.202 1.37054 1.99693C1.55773 1.79186 1.78558 1.62802 2.03956 1.51583C2.29355 1.40365 2.56811 1.34557 2.84577 1.34531H5.84577C6.33108 1.34054 6.80156 1.51239 7.16953 1.82884C7.5375 2.1453 7.77785 2.58476 7.84577 3.06531C7.97206 4.02544 8.20689 4.96814 8.54577 5.87531C8.68032 6.23324 8.70944 6.62223 8.62968 6.99619C8.54992 7.37016 8.36464 7.71342 8.09577 7.98531L6.82577 9.25531C8.24933 11.7589 10.3222 13.8318 12.8258 15.2553L14.0958 13.9853C14.3677 13.7164 14.7109 13.5312 15.0849 13.4514C15.4589 13.3716 15.8478 13.4008 16.2058 13.5353C17.1129 13.8742 18.0556 14.109 19.0158 14.2353C19.5015 14.3038 19.9452 14.5485 20.2623 14.9228C20.5794 15.2971 20.7479 15.7749 20.7358 16.2653Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <a href="tel:{{- phone -}}" class="no-decoration" aria-label="Call {{- phone -}}">
      {{- phone -}}
    </a>
  </li>
{%- endif -%}

{% schema %}
{
  "name": "Phone Number",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "phone",
      "label": "Phone number"
    }
  ],
  "presets": [{ "name": "Phone Number" }]
}
{% endschema %}
