{% comment %} Reviews {% endcomment %}
<div class="product-reviews" {{ block.shopify_attributes }}>Reviews to go here</div>

{% schema %}
{
  "name": "Reviews",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Reviews"
    }
  ]
}
{% endschema %}
