<div quantity-select class="quantity-select flex align-center w-max">
  <div quantity-minus class="minus cursor-pointer flex-center align-center flex-1">-</div>

  <div quantity class="quantity flex-center align-center flex-1">1</div>

  <div quantity-plus class="plus cursor-pointer flex-center align-center flex-1">+</div>

  <input
    style="display: none!important"
    type="number"
    name="quantity"
    value="1"
    min="1"
    data-max-quantity-title="{{ 'products.product.quantity.max_quantity_limit_title' | t }}"
    data-max-quantity-message="{{ 'products.product.quantity.max_quantity_limit_message' | t }}"
    max="{% if product.selected_or_first_available_variant.inventory_management == "shopify"  and product.selected_or_first_available_variant.inventory_policy != "continue" %}{{ product.selected_or_first_available_variant.inventory_quantity }}{% else %}10000000{% endif %}"
    class="quantity-selector quantity-input"
    data-money-format="{{ shop.money_format }}"
  >
</div>

{%- stylesheet -%}
  .quantity-select {
    border: 1px solid var(--Light-Grey, #e9e9e9);
    border-radius: 100px;
  }

  .quantity-select > * {
    width: 30px;
    height: 30px;
    border: none;
  }

  .quantity-select .quantity {
    flex: 2;
  }
{%- endstylesheet -%}
